.sidebar{
    width: 25%;
    background:#0f036b;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
}
.sidebar_top{
    flex:1 ; 
}
.sidebar_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.profile_icon{   
    background: coral;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lato', sans-serif ; 

}
.profile_title{
    display: flex;
    align-items: center;
    font-size: medium;
    flex: 1;
    font-family:'Lato', sans-serif ; 
    margin-left: 15px;
}
.icon{
    margin: 0 10px ; 
    font-size: 10px;

}
.search{
    padding: 5px;

}
.search_block{
    align-items: center;
    background:#CDDBED;
    padding: 3px 5px;
    border-radius: 50px;
}
#input{
    border-color: transparent;
    margin-left: 5px;
    width: 70%;
    background-color: transparent;
}
#iconSearch{
    color:#0f036b ;
}
.sidebare_new_note{
    margin-top: 10px;
    padding: 0 10px;
    color: rgb(31, 29, 29);
}
.create_note_button{
    align-content: center;
    width: 90%;
    display: flex;
    background: linear-gradient(90deg,#CE5E00,#F0974C,#FFC878,#CE5E00);
    border-radius: 50px;
    justify-content: left;
    font-size: 85%;
    cursor: pointer ; 
    padding: 3px 5px ; 
}
.note_title{
    font-family: sans-serif;
    margin-left: 3px;
    letter-spacing: 2px;
}
#iconAdd{
     margin-top: 1px;
     margin-right: 4px;
}

#horizontalLine
{
    height: 10px;
	border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin-top:15px;
}


ul
{
    display:flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;

}

li
{
    font-family:'Lato', sans-serif ; 
    margin-top:20px;
}

.iconDummy
{
  margin-right:7px;
}

.iconTrash
{
  margin-right:7px;
}

.iconAllNotes
{
  margin-right:7px;
}