.AllTheNotes
{
  background:#CDDBED;
  width:20%;
  height:100vh;
  display:flex;
  flex-direction: column;
  border-right: 1px solid #E6E6E6;
}

.TopNotesList
{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:6px 20px;
    height:80px;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

.TopNotesListTitle
{
    font-family:'Lato', sans-serif ; 
    font-size:15pt;
    color: #210663;
}

.TopNotesListTitle2
{
    font-family:'Monotype Corsiva';
    margin-top: 10px;
}

.MiddleNotesList
{
    flex:1;
    overflow:auto;
}

.MiddleNotesListPreview
{
    height:110px;
    padding: 18px 24px;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    background-color: #C4DBE9;

}

.MiddleNotesListPreviewHead
{
    width:100%;
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;

}

.MiddleNotesListPreviewHead_NoteTitle
{
    width:100%;
    color:#040404;
    font-size: 17px;
    font-weight: bold;
    font-family:'Lato', sans-serif ; 
    opacity: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MiddleNotesListPreviewHead_NoteDescription
{
    
}